[submodule "satellite"]
	path = satellite
	url = git@github.com:php-etl/satellite.git
[submodule "akeneo-plugin"]
	path = akeneo-plugin
	url = git@github.com:php-etl/akeneo-plugin.git
[submodule "configurator-contracts"]
	path = configurator-contracts
	url = git@github.com:php-etl/configurator-contracts.git
[submodule "csv-plugin"]
	path = csv-plugin
	url = git@github.com:php-etl/csv-plugin.git
[submodule "spreadsheet-plugin"]
	path = spreadsheet-plugin
	url = git@github.com:php-etl/spreadsheet-plugin.git
[submodule "sylius-plugin"]
	path = sylius-plugin
	url = git@github.com:php-etl/sylius-plugin.git
[submodule "sql-plugin"]
	path = sql-plugin
	url = git@github.com:php-etl/sql-plugin.git
[submodule "fast-map-plugin"]
	path = fast-map-plugin
	url = git@github.com:php-etl/fast-map-plugin.git
[submodule "akeneo-expression-language"]
	path = akeneo-expression-language
	url = git@github.com:php-etl/akeneo-expression-language.git
[submodule "string-expression-language"]
	path = string-expression-language
	url = git@github.com:php-etl/string-expression-language.git
[submodule "array-expression-language"]
	path = array-expression-language
	url = git@github.com:php-etl/array-expression-language.git
[submodule "packaging-contracts"]
	path = packaging-contracts
	url = git@github.com:php-etl/packaging-contracts.git
[submodule "metadata-contracts"]
	path = metadata-contracts
	url = git@github.com:php-etl/metadata-contracts.git
[submodule "json-plugin"]
	path = json-plugin
	url = git@github.com:php-etl/json-plugin.git
